<%= image_tag 'rails.png' %>
<h2>About your application's environment</h2>
<%= @info %>
<h2>Request environment</h2>
<%= dl_hash @request %>
<h2>Load path</h2>
<%= dl_hash @load_path %>
<h2>System properties</h2>
<%= dl_hash @system_properties %>
